:root {
  --defBg: ;
  --secondBg: rgb(82, 82, 82);
  --thirdBg: rgb(46, 46, 46);
  --defaultText: lightgrey;
  --blue: rgb(0, 132, 255);
  --userText: white;
  --aiText: white;
  --userBg: rgb(83, 83, 83);
  --aiBg: rgb(14, 14, 14);
}
::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


* {
  color: var(--defaultText);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
  text-align: center;
}
body { 
  background-color: rgb(26, 26, 26);
}
h1 {
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
  height: 5rem;
  color: white;
  background-color: rgba(26, 26, 26, 0.5);
  text-align: center;
  width: 100vw;
}
#chatSection {
  height: calc(100vh - 13rem);
  overflow-y: scroll;
}
.inputSection {
  width: 100vw;
  bottom: 5rem;
}
input {
  background-color: var(--secondBg);
  border: none;
  border-radius: .75rem;
  padding-block: .5rem;
  width: 60vw;
  text-align: left;
  padding-inline: .75rem;
  margin-right: 4px;
  font-size: 1rem;
}
input::placeholder {
  color: var(--defaultText);
  text-align: center;
  font-size: 1rem;

}
input:focus {
  outline: none;
}
#sendButton {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  border: none;
  translate: 0 .4rem;
  background-color: var(--defaultText);
}
#sendButton:focus {
  outline: none;
}
.sendAnimation {
  animation: sendAnimation .25s ease both;
}
.sendImage {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0;
  translate: -2px 2px;
}
.smallText {
  font-size: .75rem;
  line-height: 1.2rem;
  text-align: center;
  width: 100vw;
}
p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}
span {
  font-family: monospace;
  background-color: rgba(82, 82, 82, 0.5);
  padding-inline: 4px;
  padding-block: 0;
  border-radius: 4px;
}
a {
  color: var(--blue);
  text-decoration: none;
  font-size: 11px;
}

#aboutWindow {
  display: none;
  position: fixed;
  top: 8vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--thirdBg);
  padding: .75rem;
  overflow-y: scroll;
  animation: fadeIn .5s cubic-bezier(.24,.58,.44,.91) both;
}
#aboutWindow * {
  text-align: left;
}
#closeWindow {
  display: none;
  position: fixed;
  top: calc(8vh - 2.5rem);
  left: calc(100vw - 5rem);
  animation:  fadeIn .5s cubic-bezier(.24,.58,.44,.91) both;
  z-index: 2;
  color: var(--blue);
  font-size: 17pt;
}

li {
  line-height: 1.75rem;
}

/*AI CHAT SECTION*/

#aiBubble {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-block: 2rem;
}

#aiOutput {
  background-color: var(--aiBg);
  color: var(--aiText);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}


#userBubble {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-block: 2rem;
}

#userInput {
  background-color: var(--userBg);
  color: var(--userText);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
