:root {
  --defBg: ;
  --secondBg: rgb(82, 82, 82);
  --thirdBg: rgb(46, 46, 46);
  --defaultText: lightgrey;
}


* {
  color: var(--defaultText);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
  text-align: center;
}
body { 
  background-color: rgb(26, 26, 26);
}
h1 {
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
  height: 5rem;
  color: white;
  background-color: rgba(26, 26, 26, 0.5);
}
#chatSection {
  height: calc(100vh - 12rem);
}
input {
  background-color: var(--secondBg);
  border: none;
  border-radius: .75rem;
  padding-block: .5rem;
  width: 90vw;
  text-align: left;
  padding-inline: .75rem;
}
input::placeholder {
  color: var(--defaultText);
  font-family: monospace;
  text-align: center;
}
input:focus {
  outline: none;
}
.smallText {
  font-size: .6rem;
  line-height: 1.2rem;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}
span {
  font-family: monospace;
  background-color: rgba(82, 82, 82, 0.5);
  padding-inline: 4px;
  padding-block: 0;
  border-radius: 4px;
}
a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}

#aboutWindow {
  display: none;
  position: fixed;
  top: 33vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--thirdBg);
  padding: .75rem;
  overflow-y: scroll;
  animation: fadeIn .33s ease both;
}
#aboutWindow * {
  text-align: left;
}
#closeWindow {
  display: none;
  position: fixed;
  top: calc(33vh - 2rem);
  left: calc(100vw - 5rem);
  letter-spacing: 2px;
  animation:  fadeIn .33s ease both;
  z-index: 2;
}
